@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  line-height: 30px;
  background-image: url(/images/fundo.png);
  background-position: center;
  background-size: cover;
}

#nav-bar {
  z-index: 1000;
  background-color: #056B49 !important;
  border-bottom: 4px solid #003b2b;
}
a{
  color: white !important;
  border-radius: 10px;
  margin-right: 10px;
}

#linkNav:hover{
  background-color: #003b2b;
  border-radius: 10px;
  transition: 40ms;
}

.img-nav{
  margin-right: 20px;
}

#nav-bar-index{
  z-index: 1000;
  background-color: #056B49 !important;
  border-bottom: 4px solid #003b2b;
  margin-left: 300px;
}


.menu {
  display: block;
  width: 300px;
  height: 100vh;
  background-color: #065B43;
  border-right: 4px solid #003b2b ;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

.menu-top{
  border-bottom: 4px solid #003b2b;
  padding-left: 10px;
}

.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.imagem > img {
  width: 150px;
  max-height: 150px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 2rem;
  color: white;
}

.p2 {
  font-size: 1rem;
}

#container-buttons {
  padding: 5px;
}

#btns {
  background-color: #08916a;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}

#btns:hover {
  background-color: #03f685;
}

i {
  
  padding-right: 10px;
}





.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 10px;
  margin-top: 20vh;
  margin-left: 400px;
  width: calc(100% - 450px);
  box-sizing: border-box;
  align-items: start;
 
  
}

@media (max-width: 768px) {
  .menu {
    width: 100%;
    height: auto;
    position: relative;
  }

  .card {
 
    border: none;
    width: 100%;
    margin-right: 0;
    width: 18rem;
    margin: 0;
    
  }
  
  .text {
    font-size: 1.5rem;
  }

  #container-buttons {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 1.2rem;
  }

  .imagem > img {
    width: 120px;
    max-height: 120px;
  }
}

.card-img-top {
  height: 230px;
}


 /*.card:hover {
  transform: translate(0px, -20px);
  transition: 1s;
}
*/
#btn-secundary {
  display: block;
  justify-content: center;
  background-color: #003b2b;
  font-weight: bold;
  border: none;
  margin-top: 10px;
}

#btn-secundary:hover {
  background-color: #08916a;
}

.wrapper-containers {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap; 
  /* margin-left: 300px;  Se quiser manter afastado do menu lateral */
  padding: 20px;
  margin-top: 20vh;
}

.container2 {
  width: 350px; /* Tamanho fixo para os cards lado a lado */
  height: auto; /* Altura automática */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
  
}

.circle-hort {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(/images/hortlogo.png);
  background-position: center;
}

.formHortalicas {
  display: flex;
  flex-direction: column; /* Campos um abaixo do outro */
  width: 400px;
  padding: 30px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.circle-fert {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(/images/fertlogo.png);
  background-position: center;
  background-repeat: no-repeat;
}

.circle-water {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(/images/waterlogo.png);
  background-position: center;
  background-repeat: no-repeat;
}

.circle-ai{
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100%;
  background-image: url(/images/ailogo.png);
  background-position: center;
  background-repeat: no-repeat;
}

th, td {
  padding: 10px;
}
.title{
  color: white !important;
 
}


.containerGest {
  max-width: 100vw;
  height: 93vh;
  padding: 20px;
  background-color: #003b2b;
}

.img{
 width: 50px;
 height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header .title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}

.header select {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 16px;
}

.stats {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  margin-top: 40px;
}

.stat-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.stat-box .number {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.stat-box .label {
  color: #666;
  font-size: 14px;
  margin-top: 10px;
}

.charts {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.chart-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 48%;
}

canvas {
  width: 100% !important;
  height: 400px !important;
}

/* Responsive design */
@media (max-width: 768px) {
  .charts {
      flex-direction: column;
  }

  .stat-box {
      width: 100%;
  }

  .chart-container {
      width: 100%;
      margin-bottom: 20px;
  }
}

/* Cadastro */
.container {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: auto;
  margin-top: 60px;
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #028a66;
  padding: 1rem;
}

.form-image img {
  width: 31rem;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 3rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.login-button {
  display: flex;
  align-items: center;
 
}

.login-button button {
  border: none;
  background-color: #08916a;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: #056B49;
}

.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #08916A;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
  margin-top: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 .5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.continue-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #08916A;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: #056B49;
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 1330px) {
  .form-image {
      display: none;
  }
  .container {
      width: 50%;
  }
  .form {
      width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
      width: 90%;
      height: auto;
  }
  .input-group {
      flex-direction: column;
      z-index: 5;
      padding-right: 5rem;
      max-height: 10rem;
      overflow-y: scroll;
      flex-wrap: nowrap;
  }
  .gender-inputs {
      margin-top: 2rem;
  }
  .gender-group {
      flex-direction: column;
  }
  .gender-title h6 {
      margin: 0;
  }
  .gender-input {
      margin-top: 0.5rem;
  }
}

.parForm{
  margin-top: 20px;
 
}

.opcoes{
  display: flex;
}

.linkForm{

  color: #028a66 !important;
  text-decoration: none;
  font-weight: bold;
  margin-right: 20px;
}